.venv/
__pycache__/
silkmoth.egg-info/
build/
dist/
site/
reference_sets_inclusion_dependency.json
reference_sets_inclusion_dependency_reduction.json
source_sets_inclusion_dependency.json
webtable_schemas_sets_500k.json
github_webtable_schemas_sets_500k.json